html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}
/*TOP IMAGE*/
header img {
    width: 650px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

body {
    background-color: #FFe63b;
    display: table-cell;
    vertical-align: middle;
}
body a{
    color:red;
}
body a:hover{
    color:gray;
}