/*HTML*/
html {
    display: table;
    margin: auto;
    height: 100%;
}

/*TOP IMAGE*/
header img{
	width:650px;
	height:auto;
	margin-left:auto;
    margin-right:auto;
    display:block;
}

/*BODY*/
body {
    background-color: #FFe63b;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

/*FOOTER*/
footer {
    padding-top: 30px;
}
footer table {
    width: 1904px;
    padding-left: 135px;
    background-color: #97BC17;
}
footer table th {
    text-align: left;
    font-size:35px;
    font-family: 'Reenie Beanie', cursive;
}
footer table tr td {
    color: black;
    font-size: 30px;
    font-family: 'Reenie Beanie', cursive;
}
footer p {
    font-family: 'Reenie Beanie', cursive;
}