/*NAVIGATION BAR*/
nav {
    text-align: center;
    position: relative;
    width: 1824px;
    height: 100px;
    background-color: black;
    padding-top: 10px;
    padding-left: 80px;
}

    nav ul li {
        float: left;
        width: 258px;
        height: 40px;
        list-style: none;
        font-size: 15px;
        text-align: left;
        padding-top: 10px;
        padding-left: 160px;
    }

    nav li a {
        color: #97BC17;
        text-decoration: none;
        left: 50%;
        right: 50%;
        font-size: 30px;
        font-family: 'Gamja Flower', cursive;
    }

    nav li .active {
        color: #800000;
        text-decoration: underline;
    }

    nav li a:hover {
        color: gray;
    }
form h1 {
    color: #97BC17;
}
section{
    padding-top:20px;
}